*{
	margin: 0;
	padding: 0;
}
#container{
	display: grid;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	grid-template-rows: 1fr 4fr 1fr;

	background-color: #ffdfab;
}

/*------------------------------------------*/
/* Estilização do Heading e do seu conteudo */
header{
	grid-area: header;
}
#heading{

	display: grid;
	grid-template-areas: "marca links-uteis" ;
	grid-template-columns: 2fr 2fr;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3%;

	background-color: black;
	color: white;

	border-top: 3px solid white;
	border-bottom: 3px solid white;
	box-shadow: 0px 10px 75px black;
}


#marca{
	grid-area: marca; 
	display: flex;
	margin-left: 1%;

}
#logo{
	width: 150px;
	border-radius: 60%;
}
#titulo{
	font-family: "Kaushan Script", cursive;
	font-weight: bold;
	font-size: 80px;

	padding-top: 6%;
	padding-bottom: 6%;
}


#bloco-links{
	grid-area: links-uteis;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	padding-top: 9%;
	padding-bottom: 9%;
	

}
.links-uteis{
	text-decoration: none;
	color: white;

	font-family: "Kaushan Script", cursive;
	font-size: 40px;
}
.links-uteis:hover{
	font-size: 41px;
	font-weight: bold;
	text-decoration: underline;
}




/*------------------------------------------*/




/* Estilização do content e do seu conteúdo */
main{
	grid-area: main;
}
#content{
	height:100%;
	background-color: #030202;
	
}
#cardapio{
	display: flex;
	justify-content: center;
	align-items: center;

}
#titulo-cardapio{
	color: white;
	font-family: "Kaushan Script", cursive;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	text-decoration: underline;
}

#faixa-pizzas{
	width: 75%;
	display: grid;
	grid-template-areas: "frango calabresa mussarela";
	grid-template-columns: 1fr 1fr 1fr;

	margin-top: 3%;
}
.pizzas{
	width: 500px;
	height: 400px;

	display: grid;
	grid-template-areas:
	"nome nome"
	"imagem desc";
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 1fr;



}
.titulos-corpo{
	grid-area: nome;

	text-align:center;
	font-size: 40px;
	color: orange;
}
.pizzas img{
	grid-area: imagem;
	width: 200px;
	height: 200px;

	border-radius: 30%;
	border: 8px solid orange;
	box-shadow: 0px 1px 10px orange;
}
.descricao{
	grid-area: desc;

	padding-top: 40px;
	padding-bottom: 40px;
	
	font-size:25px;
	color: orange;
}

#faixa-pedido{
	display: flex;
	justify-content: center;
	align-items: center;

	padding-bottom: 15%;
}
#bt-pedido{
	width: 300px;
	height: 50px;

	background-color: orange;

	color:white;
	font-family: "Kaushan Script", cursive;
	font-weight: bold;
	font-size: 30px;

	border: 2px solid white;
}
#bt-pedido:hover{
	width: 305px;
	height: 55px;
	background-color: black;
}

/*------------------------------------------*/



/* Estilização do foot e do seu conteúdo */
footer{
	grid-area: footer;
}
#foot{
	height: 100%;

	background-color: black;
	color: white;

	border-top: 3px solid white;
	border-bottom: 3px solid white;

	text-align: center;
}
#copyright{

	position: relative;
	top: 110px;
	font-size: 20px;
	font-weight: bold; 
}
/*------------------------------------------*/


